USE [master]
GO

-- 1. KIỂM TRA VÀ TẠO DATABASE (XÓA CŨ NẾU CÓ ĐỂ CHẠY MỚI)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QlyFashionShop')
BEGIN
    ALTER DATABASE [QlyFashionShop] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [QlyFashionShop]
END
GO

CREATE DATABASE [QlyFashionShop]
GO

USE [QlyFashionShop]
GO

-- =============================================
-- 2. TẠO CÁC BẢNG (TABLES)
-- =============================================

CREATE TABLE [dbo].[BienTheSanPham](
	[MaBienThe] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaMau] [int] NULL,
	[MaSize] [int] NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[MaTrangThai] [int] NULL,
	[SoLuongTon] [int] NOT NULL,
	[AnhBienThe] [nchar](50) NULL,
PRIMARY KEY CLUSTERED ([MaBienThe] ASC)
)
GO

CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NULL,
	[MaBienThe] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED ([MaCTDH] ASC)
)
GO

CREATE TABLE [dbo].[ChiTietGioHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaGioHang] [int] NULL,
	[MaBienThe] [int] NULL,
	[SoLuong] [int] NULL DEFAULT ((1)),
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[DanhMucSanPham](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MaDanhMucCha] [int] NULL,
	[SoLuongSanPham] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED ([MaDM] ASC)
)
GO

CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SDTNguoiNhan] [varchar](20) NULL,
	[DiaChiNhan] [nvarchar](200) NULL,
	[NgayDat] [datetime] NULL DEFAULT (getdate()),
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [int] NULL DEFAULT ((0)),
	[MATT] [int] NULL,
PRIMARY KEY CLUSTERED ([MaDH] ASC)
)
GO

CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[TongTien] [decimal](18, 2) NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED ([MaGioHang] ASC)
)
GO

CREATE TABLE [dbo].[Intro](
	[IntroId] [int] IDENTITY(1,1) NOT NULL,
	[NameIntro] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[anh] [varchar](50) NULL,
PRIMARY KEY CLUSTERED ([IntroId] ASC)
)
GO

CREATE TABLE [dbo].[KichThuoc](
	[MaSize] [int] IDENTITY(1,1) NOT NULL,
	[TenSize] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED ([MaSize] ASC)
)
GO

CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDT] [nvarchar](15) NULL,
	[NgaySinh] [datetime] NULL DEFAULT (getdate()),
	[UserId] [int] NULL,
	[GioiTinhKH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED ([MaKH] ASC)
)
GO

CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[TenChuongTrinh] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[PhanTramGiam] [decimal](5, 2) NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThaiKM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED ([MaKM] ASC)
)
GO

CREATE TABLE [dbo].[MauSac](
	[MaMau] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](50) NOT NULL,
	[MaHex] [char](7) NULL,
PRIMARY KEY CLUSTERED ([MaMau] ASC)
)
GO

CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Xuatxu] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[AnhNCC] [char](50) NULL,
PRIMARY KEY CLUSTERED ([MaNCC] ASC)
)
GO

CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinhNV] [nchar](5) NULL,
	[BirthDayNV] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Luong] [decimal](18, 2) NULL,
	[NgayVaoLam] [date] NULL,
PRIMARY KEY CLUSTERED ([MaNV] ASC)
)
GO

CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBanLe] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL DEFAULT (N'Hoạt động'),
	[AnhSP] [char](50) NULL,
	[MaNCC] [int] NULL,
PRIMARY KEY CLUSTERED ([MaSP] ASC)
) 
GO

CREATE TABLE [dbo].[TTDONHANG](
	[MATT] [int] NOT NULL,
	[TENTT] [nvarchar](max) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED ([MATT] ASC)
)
GO

CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED ([UserID] ASC)
)
GO

-- =============================================
-- 3. TẠO FUNCTIONS (Hàm)
-- =============================================
CREATE FUNCTION [dbo].[fn_GetActiveProductCount]()
RETURNS INT
AS
BEGIN
    DECLARE @ActiveCount INT;
    SELECT @ActiveCount = COUNT(MaSP)
    FROM SanPham
    WHERE TrangThai = N'Hoạt động';
    RETURN @ActiveCount;
END;
GO

CREATE FUNCTION [dbo].[fn_GetTotalCustomerCount]()
RETURNS INT
AS
BEGIN
    DECLARE @CustomerCount INT;
    SELECT @CustomerCount = COUNT(MaKH) 
    FROM KhachHang;
    RETURN @CustomerCount;
END;
GO

-- =============================================
-- 4. INSERT DỮ LIỆU (DATA)
-- =============================================

-- Users
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (1, N'Admin Manager', N'admin@shop.com', N'Admin', N'$2a$12$KXHDpq.Sop7kNtPvizTjseAl55OLgtbzdO3mj9HXAaOttV1cmyDki', CAST(N'2025-12-18T02:34:01.907' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (2, N'Khach Hang 1', N'khach1@gmail.com', N'Customer', N'$2a$12$BNSTmzsorPGdRy47Q83HLeK0AvgOe32q3JpbUhdCOL86rjohZqh4a', CAST(N'2025-12-18T02:34:01.907' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (7, N'NhanVien1', N'NhanVien1@gmail.com', N'Employee', N'$2a$12$BNSTmzsorPGdRy47Q83HLeK0AvgOe32q3JpbUhdCOL86rjohZqh4a', CAST(N'2025-12-23T21:51:46.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

-- DanhMucSanPham
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] ON 
INSERT [dbo].[DanhMucSanPham] ([MaDM], [TenDanhMuc], [MaDanhMucCha], [SoLuongSanPham]) VALUES (1, N'Áo ', NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDM], [TenDanhMuc], [MaDanhMucCha], [SoLuongSanPham]) VALUES (2, N'Quần', NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDM], [TenDanhMuc], [MaDanhMucCha], [SoLuongSanPham]) VALUES (3, N'Váy & Đầm', NULL, 0)
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] OFF
GO

-- NhaCungCap
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Xuatxu], [Email], [AnhNCC]) VALUES (1, N'Balenciaga', N'0901111111', N'Pháp', N'Pháp', N'contact@balenciaga.com', N'Balenciaga.png')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Xuatxu], [Email], [AnhNCC]) VALUES (2, N'Burberry', N'0902222222', N'Anh', N'Anh', N'info@burberry.com', N'Burberry.png')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Xuatxu], [Email], [AnhNCC]) VALUES (3, N'Chanel', N'0903333333', N'Pháp', N'Pháp', N'support@chanel.com', N'Chanel.png')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO

-- MauSac
SET IDENTITY_INSERT [dbo].[MauSac] ON 
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaHex]) VALUES (1, N'Be (Kem)', N'#F5F5DC')
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaHex]) VALUES (2, N'Đen', N'#000000')
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaHex]) VALUES (3, N'Đỏ', N'#FF0000')
SET IDENTITY_INSERT [dbo].[MauSac] OFF
GO

-- KichThuoc
SET IDENTITY_INSERT [dbo].[KichThuoc] ON 
INSERT [dbo].[KichThuoc] ([MaSize], [TenSize]) VALUES (1, N'Free Size')
INSERT [dbo].[KichThuoc] ([MaSize], [TenSize]) VALUES (2, N'Size S')
INSERT [dbo].[KichThuoc] ([MaSize], [TenSize]) VALUES (3, N'Size M')
SET IDENTITY_INSERT [dbo].[KichThuoc] OFF
GO

-- Intro
SET IDENTITY_INSERT [dbo].[Intro] ON 
INSERT [dbo].[Intro] ([IntroId], [NameIntro], [MoTa], [anh]) VALUES (1, N'New Collection', N'Bộ sưu tập Thu Đông mới nhất.', N'intro1.png')
INSERT [dbo].[Intro] ([IntroId], [NameIntro], [MoTa], [anh]) VALUES (2, N'Summer Vibe', N'Thời trang hè năng động.', N'intro2.png')
SET IDENTITY_INSERT [dbo].[Intro] OFF
GO

-- TTDONHANG
INSERT [dbo].[TTDONHANG] ([MATT], [TENTT], [TRANGTHAI]) VALUES (0, N'Hủy Giao Dịch', 0)
INSERT [dbo].[TTDONHANG] ([MATT], [TENTT], [TRANGTHAI]) VALUES (1, N'Giao Dịch Thành Công', 1)
INSERT [dbo].[TTDONHANG] ([MATT], [TENTT], [TRANGTHAI]) VALUES (2, N'Thanh Toán Sau', 2)
GO

-- KhachHang
SET IDENTITY_INSERT [dbo].[KhachHang] ON 
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [SoDT], [NgaySinh], [UserId], [GioiTinhKH]) VALUES (1, N'Nguyễn Văn A', N'khach1@gmail.com', N'0909000001', CAST(N'1995-01-01T00:00:00.000' AS DateTime), 2, N'Nam')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO

-- SanPham
SET IDENTITY_INSERT [dbo].[SanPham] ON 
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSanPham], [MoTa], [GiaBanLe], [TrangThai], [AnhSP], [MaNCC]) VALUES (1, 4, N'Áo thun Balenciaga Sport', N'Áo thun thể thao unisex, form rộng, chất liệu cotton cao cấp.', CAST(3100000.00 AS Decimal(18, 2)), N'Hoạt động', N'sp01_20251223145721.png', 1)
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSanPham], [MoTa], [GiaBanLe], [TrangThai], [AnhSP], [MaNCC]) VALUES (2, 4, N'Áo Polo Gucci Basic', N'Áo polo có cổ, logo Gucci thêu ngực, phong cách lịch lãm.', CAST(4500000.00 AS Decimal(18, 2)), N'Hoạt động', N'sp02.jpg', 5)
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSanPham], [MoTa], [GiaBanLe], [TrangThai], [AnhSP], [MaNCC]) VALUES (3, 5, N'Áo sơ mi Burberry Check', N'Họa tiết kẻ caro kinh điển của Burberry, vải sơ mi đứng form.', CAST(5500000.00 AS Decimal(18, 2)), N'Hoạt động', N'sp03.jpg', 2)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO

-- BienTheSanPham
SET IDENTITY_INSERT [dbo].[BienTheSanPham] ON 
INSERT [dbo].[BienTheSanPham] ([MaBienThe], [MaSP], [MaMau], [MaSize], [GiaBan], [MaTrangThai], [SoLuongTon], [AnhBienThe]) VALUES (2, 1, 2, 4, CAST(3100000.00 AS Decimal(18, 2)), 1, 40, N'ba_20251220105115.png')
INSERT [dbo].[BienTheSanPham] ([MaBienThe], [MaSP], [MaMau], [MaSize], [GiaBan], [MaTrangThai], [SoLuongTon], [AnhBienThe]) VALUES (3, 1, 4, 3, CAST(3100000.00 AS Decimal(18, 2)), 1, 30, N'sp01_trang.jpg')
INSERT [dbo].[BienTheSanPham] ([MaBienThe], [MaSP], [MaMau], [MaSize], [GiaBan], [MaTrangThai], [SoLuongTon], [AnhBienThe]) VALUES (4, 3, 1, 2, CAST(5500000.00 AS Decimal(18, 2)), 1, 20, N'sp03_be.jpg')
SET IDENTITY_INSERT [dbo].[BienTheSanPham] OFF
GO

-- DonHang
SET IDENTITY_INSERT [dbo].[DonHang] ON 
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [TenNguoiNhan], [SDTNguoiNhan], [DiaChiNhan], [NgayDat], [TongTien], [TrangThai], [MATT]) VALUES (1, 1, N'Nguyễn Văn A', N'0909000001', N'123 Đường Láng', CAST(N'2025-12-18T02:34:01.907' AS DateTime), CAST(3100000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [TenNguoiNhan], [SDTNguoiNhan], [DiaChiNhan], [NgayDat], [TongTien], [TrangThai], [MATT]) VALUES (2, 1, N'Nguyễn Văn A', N'0909000001', N'123 Đường Láng', CAST(N'2025-12-18T02:34:01.907' AS DateTime), CAST(5500000.00 AS Decimal(18, 2)), 2, 2)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [TenNguoiNhan], [SDTNguoiNhan], [DiaChiNhan], [NgayDat], [TongTien], [TrangThai], [MATT]) VALUES (3, 1, N'Nguyễn Văn A', N'0909000001', N'abc', CAST(N'2025-12-20T08:00:25.427' AS DateTime), CAST(82828.00 AS Decimal(18, 2)), 2, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO

-- GioHang
SET IDENTITY_INSERT [dbo].[GioHang] ON 
INSERT [dbo].[GioHang] ([MaGioHang], [MaKH], [NgayTao], [TongTien]) VALUES (4, 1, CAST(N'2025-12-20T07:38:01.773' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO

-- ChiTietDonHang
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaBienThe], [SoLuong], [DonGia]) VALUES (3, 3, 72, 1, CAST(82828.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaBienThe], [SoLuong], [DonGia]) VALUES (4, 4, 72, 1, CAST(82828.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaBienThe], [SoLuong], [DonGia]) VALUES (5, 5, 2, 9, CAST(3100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO

-- ChiTietGioHang
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] ON 
INSERT [dbo].[ChiTietGioHang] ([ID], [MaGioHang], [MaBienThe], [SoLuong], [DonGia]) VALUES (13, 4, 12, 1, CAST(15500000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietGioHang] ([ID], [MaGioHang], [MaBienThe], [SoLuong], [DonGia]) VALUES (14, 4, 70, 1, CAST(64646.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietGioHang] ([ID], [MaGioHang], [MaBienThe], [SoLuong], [DonGia]) VALUES (15, 4, 73, 1, CAST(73377.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietGioHang] OFF
GO

-- =============================================
-- 5. THÊM RÀNG BUỘC (CONSTRAINTS & KEYS)
-- =============================================

-- Indexes
ALTER TABLE [dbo].[BienTheSanPham] ADD CONSTRAINT [UQ_BienThe] UNIQUE NONCLUSTERED ([MaSP] ASC, [MaMau] ASC, [MaSize] ASC)
GO
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED ([Email] ASC)
GO
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED ([Email] ASC)
GO

-- Foreign Keys
ALTER TABLE [dbo].[BienTheSanPham] WITH CHECK ADD CONSTRAINT [FK_BienTheSanPham_KichThuoc] FOREIGN KEY([MaSize]) REFERENCES [dbo].[KichThuoc] ([MaSize])
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [FK_BienTheSanPham_KichThuoc]
GO

ALTER TABLE [dbo].[BienTheSanPham] WITH CHECK ADD CONSTRAINT [FK_BienTheSanPham_MauSac] FOREIGN KEY([MaMau]) REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [FK_BienTheSanPham_MauSac]
GO

ALTER TABLE [dbo].[BienTheSanPham] WITH CHECK ADD CONSTRAINT [FK_BienTheSanPham_SanPham] FOREIGN KEY([MaSP]) REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [FK_BienTheSanPham_SanPham]
GO

ALTER TABLE [dbo].[ChiTietDonHang] WITH CHECK ADD CONSTRAINT [FK_ChiTiet_DonHang] FOREIGN KEY([MaDH]) REFERENCES [dbo].[DonHang] ([MaDH]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTiet_DonHang]
GO

ALTER TABLE [dbo].[ChiTietDonHang] WITH CHECK ADD CONSTRAINT [FK_ChiTietDonHang_BienTheSanPham] FOREIGN KEY([MaBienThe]) REFERENCES [dbo].[BienTheSanPham] ([MaBienThe])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_BienTheSanPham]
GO

ALTER TABLE [dbo].[ChiTietGioHang] WITH CHECK ADD CONSTRAINT [FK_ChiTiet_GioHang] FOREIGN KEY([MaGioHang]) REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTiet_GioHang]
GO

ALTER TABLE [dbo].[ChiTietGioHang] WITH CHECK ADD CONSTRAINT [FK_ChiTietGioHang_BienTheSanPham] FOREIGN KEY([MaBienThe]) REFERENCES [dbo].[BienTheSanPham] ([MaBienThe])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_BienTheSanPham]
GO

ALTER TABLE [dbo].[DanhMucSanPham] WITH CHECK ADD CONSTRAINT [FK_DanhMuc_DanhMucCha] FOREIGN KEY([MaDanhMucCha]) REFERENCES [dbo].[DanhMucSanPham] ([MaDM])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMuc_DanhMucCha]
GO

ALTER TABLE [dbo].[DonHang] WITH CHECK ADD CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH]) REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO

ALTER TABLE [dbo].[DonHang] WITH CHECK ADD CONSTRAINT [FK_DonHang_TrangThai] FOREIGN KEY([MATT]) REFERENCES [dbo].[TTDONHANG] ([MATT])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TrangThai]
GO

ALTER TABLE [dbo].[GioHang] WITH CHECK ADD CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKH]) REFERENCES [dbo].[KhachHang] ([MaKH]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO

ALTER TABLE [dbo].[KhachHang] WITH CHECK ADD CONSTRAINT [FK_KhachHang_User] FOREIGN KEY([UserId]) REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_User]
GO

ALTER TABLE [dbo].[KhuyenMai] WITH CHECK ADD CONSTRAINT [FK_KM_SP] FOREIGN KEY([MaSP]) REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KM_SP]
GO

ALTER TABLE [dbo].[SanPham] WITH CHECK ADD CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDM]) REFERENCES [dbo].[DanhMucSanPham] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO

ALTER TABLE [dbo].[SanPham] WITH CHECK ADD CONSTRAINT [fk_sp_ncc] FOREIGN KEY([MaNCC]) REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [fk_sp_ncc]
GO

-- Check Constraints
ALTER TABLE [dbo].[BienTheSanPham] WITH CHECK ADD CONSTRAINT [CK__BienTheSa__GiaBa__08B54D69] CHECK (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [CK__BienTheSa__GiaBa__08B54D69]
GO

ALTER TABLE [dbo].[BienTheSanPham] WITH CHECK ADD CONSTRAINT [CK_BienThe_SoLuongTon_LonHonKhong] CHECK (([SoLuongTon]>(0)))
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [CK_BienThe_SoLuongTon_LonHonKhong]
GO

ALTER TABLE [dbo].[KhachHang] WITH CHECK ADD CHECK (([GioiTinhKH]=N'Nữ' OR [GioiTinhKH]=N'Nam'))
GO

ALTER TABLE [dbo].[KhuyenMai] WITH CHECK ADD CHECK (([PhanTramGiam]>=(0) AND [PhanTramGiam]<=(100)))
GO

ALTER TABLE [dbo].[KhuyenMai] WITH CHECK ADD CHECK (([TrangThaiKM]=N'Đã hết hạn' OR [TrangThaiKM]=N'Gần hết hạn' OR [TrangThaiKM]=N'Còn hạn'))
GO

ALTER TABLE [dbo].[KhuyenMai] WITH CHECK ADD CONSTRAINT [CK_HSDKM] CHECK (([NgayBatDau]<[NgayKetThuc]))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_HSDKM]
GO

ALTER TABLE [dbo].[NhanVien] WITH CHECK ADD CHECK (([ChucVu]=N'Admin' OR [ChucVu]=N'Thu Ngân' OR [ChucVu]=N'Kế Toán'))
GO

ALTER TABLE [dbo].[NhanVien] WITH CHECK ADD CHECK (([GioiTinhNV]=N'Nữ' OR [GioiTinhNV]=N'Nam'))
GO

ALTER TABLE [dbo].[SanPham] WITH CHECK ADD CHECK (([GiaBanLe]>=(0)))
GO

ALTER TABLE [dbo].[SanPham] WITH CHECK ADD CONSTRAINT [CK_SanPham_TrangThai] CHECK (([TrangThai]=N'Ẩn' OR [TrangThai]=N'Hết hàng' OR [TrangThai]=N'Ngừng kinh doanh' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_TrangThai]
GO

ALTER TABLE [dbo].[Users] WITH CHECK ADD CONSTRAINT [CHK_UserRole] CHECK (([Role]='Employee' OR [Role]='Customer' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_UserRole]
GO

-- =============================================
-- 6. TẠO STORED PROCEDURES
-- =============================================
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email NVARCHAR(100),
    @Result INT OUTPUT,        -- 0: Tìm thấy, 1: Không tìm thấy
    @UserID INT OUTPUT,
    @Name NVARCHAR(100) OUTPUT,
    @Role NVARCHAR(50) OUTPUT,
    @PasswordHash NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        @UserID = UserID,
        @Name = Name,
        @Role = Role,
        @PasswordHash = PasswordHash
    FROM Users 
    WHERE Email = @Email;

    IF @UserID IS NULL
    BEGIN
        SET @Result = 1; 
        RETURN;
    END
    SET @Result = 0; 
END
GO

CREATE PROCEDURE [dbo].[sp_RegisterUserWithSeparateName]
    @CustomerName NVARCHAR(100),
    @UserName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @Role NVARCHAR(50) = 'Customer',
    @SoDT NVARCHAR(15) = NULL,
    @NgaySinh DATETIME = NULL,
    @GioiTinhKH NVARCHAR(10) = NULL,
    @Result INT OUTPUT,     -- 0: Thành công, 1: Trùng Email/User, -1: Lỗi hệ thống
    @UserID INT OUTPUT,
    @MaKH INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email OR Name = @UserName)
    BEGIN
        SET @Result = 1;
        SET @UserID = NULL;
        SET @MaKH = NULL;
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;
        
        INSERT INTO Users (Name, Email, Role, PasswordHash, CreatedAt)
        VALUES (@UserName, @Email, @Role, @PasswordHash, GETDATE());
        
        SET @UserID = SCOPE_IDENTITY(); 

        INSERT INTO KhachHang (TenKH, Email, SoDT, NgaySinh, GioiTinhKH, UserId)
        VALUES (@CustomerName, @Email, @SoDT, @NgaySinh, @GioiTinhKH, @UserID);
        
        SET @MaKH = SCOPE_IDENTITY(); 

        COMMIT TRANSACTION;
        SET @Result = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @Result = -1;
        SET @UserID = NULL;
        SET @MaKH = NULL;
        THROW; 
    END CATCH
END
GO